// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1{
  color: #333333;
  font-family: Georgia;
}
.container{
  margin: 10px 20px;
  padding: 10px 10px;
  width: 900px;
  text-align: left;
}
